p, span, *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.heading-primary {
  letter-spacing: -1px;
  text-align: center; }
  .heading-primary > * {
    display: block; }
  .heading-primary .small-text {
    font-size: 2.6rem;
    color: #f6f6f6;
    margin-bottom: .5rem; }
  .heading-primary .big-text {
    font-size: 4rem;
    color: #f6f6f6;
    font-weight: bold;
    margin-bottom: 1rem; }

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #555555;
  text-transform: capitalize; }

.heading-tertiary {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #555555;
  text-transform: capitalize; }

.heading-fourth {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #c7b299;
  text-transform: capitalize; }

.parag {
  font-size: 1.4rem;
  color: #ac9b86;
  line-height: 2.5rem; }
  .parag:not(:last-child) {
    margin-bottom: 2rem; }

/*
max-width: 469px;
text-align: center;
margin: 0 auto;

*/
.line {
  background-color: #f1eee9;
  height: 3px;
  width: 7rem; }

.mtn-1 {
  margin-top: -1rem; }

.mtn-2 {
  margin-top: -2rem; }

.blue-text {
  color: #00bff3; }

.button {
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 7rem; }
  .button.button-primary, .button.is-active {
    padding: 1.1rem 2.5rem;
    background-color: #c7b299;
    color: #f6f6f6;
    border: 1px solid #c7b299;
    transition: all .3s; }
    .button.button-primary:hover, .button.is-active:hover {
      background-color: #ffffff;
      border: 1px solid #ffffff;
      color: #555555; }
  .button.button-secondary {
    padding: 1.1rem 2.5rem;
    background-color: transparent;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    transition: all .3s; }
    .button.button-secondary:hover {
      background-color: #c7b299;
      color: #f6f6f6;
      border: 1px solid transparent; }
  .button.small {
    font-size: 1.2rem;
    padding: .8rem 1.2rem;
    text-transform: capitalize; }
  .button:hover {
    text-decoration: none; }

.button-light {
  text-transform: capitalize;
  color: #a48d72;
  font-size: 1.5rem; }
  .button-light.white {
    color: #ffffff; }
  .button-light::after {
    content: ' \003E';
    position: relative;
    left: 5px;
    top: 1px;
    font-weight: bold; }
  .button-light:hover {
    text-decoration: none;
    color: #ac9b86; }

.features {
  padding: 7rem 0rem; }
  .features .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .features .feature-box > * {
      transition: .3s; }
    .features .feature-box:hover i, .features .feature-box:hover h3 {
      color: #c7b299; }
    .features .feature-box:hover .line {
      background-color: #c7b299; }
  .features i {
    font-size: 3rem;
    color: #555555;
    margin-bottom: 3rem; }

.buy {
  padding: 5rem 0rem;
  background-image: linear-gradient(to right bottom, #231c1a, #483125); }
  .buy .buy-left-cont {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .buy .buy-right-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .buy .heading-secondary {
    color: #f6f6f6;
    margin-bottom: 0; }
    .buy .heading-secondary span {
      color: #c7b299; }

.projects {
  padding: 8rem 0rem 5rem 0rem;
  max-width: 1170px;
  margin: 0 auto; }
  .projects .button:not(:last-child) {
    margin-right: 1rem; }
  .projects .button {
    margin-bottom: 1rem; }
  .projects .button-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.image-text-box .itbox-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.image-text-box .itbox-img-container:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .5s;
  z-index: 1; }

.image-text-box .itbox-date-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2; }

.image-text-box .itbox-date-num {
  padding: 2px 10px;
  background-color: #362f2d;
  color: #ffffff;
  opacity: .9;
  font-size: 2rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all .5s; }

.image-text-box .itbox-date-text {
  padding: 2px 10px;
  background-color: #231c1a;
  color: #ffffff;
  opacity: .9;
  text-transform: capitalize;
  font-size: 1.3rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all .5s; }

.image-text-box:hover .itbox-date-num {
  background-color: #c7b299; }

.image-text-box:hover .itbox-date-text {
  background-color: #a48d72; }

.image-text-box .itbox-img {
  transition: all .5s; }

.image-text-box .itbox-content {
  padding: 2rem;
  background-color: #fbfaf8;
  transition: all .5s;
  text-align: left; }

.image-text-box .heading-fourth {
  margin-bottom: .5rem;
  transition: all .5s; }
  .image-text-box .heading-fourth.dark {
    color: #555555; }

.image-text-box .parag {
  color: #bcb4b4;
  text-transform: capitalize;
  transition: all .5s; }
  .image-text-box .parag.dark {
    color: #8c8c8c;
    margin-bottom: 1rem; }

.image-text-box:hover .itbox-content {
  background-color: #362f2d; }

.image-text-box:hover .heading-fourth {
  color: #ffffff; }

.image-text-box:hover .paragraph {
  color: #c7b299; }

.image-text-box:hover .itbox-img-container:after {
  opacity: 1; }

.image-text-box:hover .itbox-img {
  transform: scale(1.05); }

.presentation-video {
  height: 55vh;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .presentation-video:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: .5; }
  .presentation-video .pvideo-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; }
  .presentation-video .pvide-text {
    z-index: 2;
    color: #ffffff;
    max-width: 60%;
    text-align: center; }
    .presentation-video .pvide-text.big {
      font-size: 4rem;
      margin-bottom: 2rem; }
    .presentation-video .pvide-text.small {
      font-size: 2rem; }

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .stats-box .sbox-icon {
    height: 4rem;
    width: auto;
    margin-bottom: 2rem; }
  .stats-box .sbox-num {
    font-size: 4.8rem;
    color: #ffffff;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1rem; }
  .stats-box .sbox-text {
    color: #c7b299;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-align: center; }
  .stats-box .line {
    height: 2px;
    width: 4rem; }

.about-us {
  background-color: #191919;
  padding: 8rem 0rem; }
  .about-us .heading-fourth {
    color: #ffffff; }
  .about-us .aus-box:not(:last-child) {
    border-bottom: 1px solid #252525;
    margin-bottom: 1rem; }
  .about-us .aus-box:hover .aus-date {
    color: #ffffff; }
  .about-us .aus-box:hover .aus-text {
    color: #ac9b86; }
  .about-us .aus-logo {
    margin-bottom: 3rem; }
  .about-us .aus-date {
    color: #313131;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: 3px;
    transition: all .3s; }
  .about-us .aus-text {
    color: #555555;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    transition: all .3s; }

.header {
  background-image: url("../img/header-img.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .header-content {
    display: flex;
    position: absolute;
    top: 15px;
    max-width: 1170px; }
  .header .logo-box {
    margin-right: auto; }
  .header .parag {
    margin-bottom: 5rem;
    text-align: center;
    color: #f6f6f6; }
  .header .header-caro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto; }
  .header .carousel-control-prev-icon {
    background-image: url("../img/left-arrow.png");
    background-size: contain;
    height: 7rem;
    width: 4rem; }
  .header .carousel-control-next-icon {
    background-image: url("../img/right-arrow.png");
    background-size: contain;
    height: 7rem;
    width: 4rem; }
  .header .carousel-indicators {
    bottom: -30vh; }

.main-nav .mnav-item:not(:last-child) {
  padding-right: 3rem; }

.main-nav .mnav-link {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #f6f6f6; }
  .main-nav .mnav-link:hover {
    text-decoration: none;
    color: #ac9b86; }
  .main-nav .mnav-link:active {
    color: #ac9b86; }

.main-nav .navbar-toggler-icon {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2.5rem; }

.main-nav .navbar-toggler-line {
  height: 2px;
  background-color: #ffffff; }

.footer {
  padding: 5rem;
  background-color: #111111; }
  .footer .footer-link {
    color: #555555;
    transition: all .3s; }
    .footer .footer-link:not(:last-child) {
      margin-right: 2rem; }
    .footer .footer-link:hover {
      color: #a48d72; }
  .footer i {
    font-size: 2rem; }

.ideas {
  background-color: #fbfaf8;
  padding: 7rem 7rem 0rem 7rem;
  text-align: center;
  position: relative; }
  .ideas img {
    width: 65%; }
  .ideas .ideas-left-img {
    position: absolute;
    left: -2%;
    bottom: 0px; }
  .ideas .ideas-right-img {
    position: absolute;
    right: -2%;
    bottom: 0px; }
  .ideas .ideas-center-img {
    position: relative;
    bottom: 0;
    z-index: 2; }

.mobile-device {
  background-color: #fbfaf8;
  padding-top: 8rem; }
  .mobile-device .mdevice-picture-container {
    display: flex;
    justify-content: flex-end; }
  .mobile-device .mdevice-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 3rem; }
  .mobile-device .mdevice-list {
    padding: 1rem 0rem 1rem 5rem; }
  .mobile-device .mdevice-list-item {
    display: flex;
    align-items: center; }
    .mobile-device .mdevice-list-item:not(:last-child) {
      margin-bottom: 1rem; }
  .mobile-device .mdevice-list-img {
    height: 2rem;
    margin-right: 3rem; }

.stats {
  background-image: linear-gradient(to right bottom, #231c1a, #483125);
  padding: 6rem 0rem; }

.posts {
  padding: 8rem 0rem;
  text-align: center; }

.brands {
  background-image: url("../img/brands-backg.jpg");
  background-size: cover;
  padding: 13rem 0rem; }
  .brands .brand-img {
    height: 17rem; }

/*
- header with nav on top, and carousel text in center
- features section with 4 elements(one is active), on medium 2 elements and 1 on mobile resolution,
- realization section with header, text and three pictures that overlap. content will scale over breakpoints
- simple purchase section
- projects section with header, text, buttons on top and 6 boxes(image with text) on bottom.
- video presentation section with video element,
- mobile devices section, image on left side and text on right side 
- stats section, 5 stats boxes(icon and text) centered,
- posts section, same as project sectionwith additional icone on image, to be decided
- brands section, 4 brand images centered, 2 images on small breakpoint and 1 imageon mobile,
- info section, four boxes with differnet content, 2 boxes on medium breakpoint and 1 on mobile
*/
/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
@media screen and (max-width: 991px) {
  html {
    font-size: 58%; }
  .header .header-content {
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    padding: 2rem;
    z-index: 5; }
  .header .lbox-icon {
    height: 4rem; }
  .header .carousel-control-next-icon, .header .carousel-control-prev-icon, .header .carousel-indicators {
    display: none; }
  .main-nav {
    padding-right: 0rem;
    justify-content: flex-end; }
    .main-nav .mnav-button {
      position: relative;
      top: 3px;
      right: -5px;
      height: 3rem; }
      .main-nav .mnav-button:focus, .main-nav .mnav-button:active {
        outline: none; }
    .main-nav .mnav-item {
      padding: 1.5rem 0rem; }
      .main-nav .mnav-item:not(:last-child) {
        padding-right: 0rem; }
    .main-nav .mnav-link {
      color: #ac9b86;
      font-size: 1.6rem; }
      .main-nav .mnav-link:active {
        color: #ffffff; }
    .main-nav .navbar-mobile {
      margin-top: 2rem;
      text-align: right; }
  .features {
    padding: 7rem 0rem 2rem 0rem; }
    .features .feature-box {
      margin-bottom: 5rem; }
  .mobile-device .mdevice-img {
    max-height: 500px; }
  .stats-box .sbox-icon {
    height: 3.5rem; }
  .stats-box .sbox-num {
    font-size: 4.5rem; }
  .stats-box .sbox-text {
    font-size: 1.3rem; }
  .brands {
    padding-top: 10rem; }
    .brands .brand-img {
      height: 13rem; }
  .about-us {
    padding-top: 10rem; }
    .about-us .aus-container {
      margin: 4rem 0rem 0rem 0rem; } }

@media screen and (max-width: 767px) {
  .parag {
    font-size: 1.5rem; }
  .button.button-primary {
    padding: 1.1rem 2rem; }
  .heading-primary {
    padding: 0rem .5rem; }
    .heading-primary .small-text {
      font-size: 2.3rem; }
    .heading-primary .big-text {
      font-size: 3.5rem; }
  .heading-secondary {
    font-size: 2.5rem; }
  .features {
    padding: 5rem 0rem 0rem 0rem; }
    .features .parag {
      padding: 0rem 8rem; }
  .ideas {
    padding: 5rem 3rem 0rem 3rem; }
    .ideas .heading-secondary {
      margin-bottom: 3rem; }
    .ideas .parag {
      margin-bottom: 5rem; }
  .projects {
    padding: 5rem 0rem 5rem 0rem; }
  .buy .heading-secondary {
    margin-bottom: 1.5rem; }
  .presentation-video {
    padding: 3rem 0rem; }
    .presentation-video .pvide-text {
      max-width: 80%; }
      .presentation-video .pvide-text.big {
        font-size: 3.5rem;
        line-height: 4rem; }
      .presentation-video .pvide-text.small {
        font-size: 1.7rem; }
  .mobile-device {
    padding-top: 5rem; }
    .mobile-device .mdevice-content {
      display: flex;
      flex-direction: column-reverse; }
    .mobile-device .mdevice-list {
      padding-left: 0rem; }
    .mobile-device .mdevice-list-item {
      justify-content: center; }
    .mobile-device .mdevice-text-container {
      padding-left: 0rem; }
    .mobile-device .mdevice-picture-container {
      justify-content: center;
      margin-top: 5rem; }
  .posts {
    padding: 5rem 0rem 1em 0rem; }
    .posts .image-text-box {
      margin-bottom: 4rem; }
  .stats {
    padding: 6rem 0rem 1rem 0rem; }
  .stats-box {
    margin-bottom: 5rem; }
  .brands {
    padding: 5rem 0rem 0rem 0rem; }
    .brands .brand-img {
      margin-bottom: 5rem; }
  .about-us {
    padding: 6rem 0rem; }
  .footer {
    padding: 4rem 0rem 2rem 0rem; }
    .footer .footer-row {
      text-align: center;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center !important; } }

@media screen and (max-width: 576px) {
  .buy .buy-left-cont {
    margin-bottom: 5rem;
    text-align: center; }
  .buy .parag {
    padding: 0rem 1rem; }
  .buy .buy-right-cont {
    justify-content: center; }
  .mobile-device .mdevice-img {
    max-height: 450px; }
  .image-text-box .itbox-date-num {
    font-size: 1.6rem; }
  .image-text-box .itbox-date-text {
    font-size: 1.1rem; } }

@media screen and (max-width: 400px) {
  .stats-box .sbox-icon {
    height: 3.3rem; }
  .stats-box .sbox-num {
    font-size: 3.5rem; }
  .stats-box .sbox-text {
    font-size: 1.2rem; } }
