//COLORS
$colorWhiteFirst: #ffffff;
$colorWhiteSecond: #f6f6f6;
$colorWhiteThird: #fbfaf8;
$colorWhiteFourth: #f1eee9;

$colorGreyFirst: #8c8c8c;
$colorGreySecond: #555555;
$colorGreyThird: #191919;
$colorGreyFourth: #111111;
$colorGreyFifth: #ebebeb;
$colorGreySixth: #f9f3eb;

$colorBrownFirst: #c7b299;
$colorBrownSecond: #362f2d;
$colorBrownThird: #483125;
$colorBrownFourth: #221c1a;
$colorBrownFifth: #ac9b86;
$colorBrownSixth: #231c1a;
$colorBrownEight: #a48d72;

$colorBluefirst: #00bff3;





