@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";
//@import "base/animations";

@import "components/buttons";
@import "components/features";
@import "components/buy";
@import "components/projects";
@import "components/image-text";
@import "components/presentation-video";
@import "components/stats-box";
@import "components/about-us";

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";


@import "pages/home";

/*
- header with nav on top, and carousel text in center
- features section with 4 elements(one is active), on medium 2 elements and 1 on mobile resolution,
- realization section with header, text and three pictures that overlap. content will scale over breakpoints
- simple purchase section
- projects section with header, text, buttons on top and 6 boxes(image with text) on bottom.
- video presentation section with video element,
- mobile devices section, image on left side and text on right side 
- stats section, 5 stats boxes(icon and text) centered,
- posts section, same as project sectionwith additional icone on image, to be decided
- brands section, 4 brand images centered, 2 images on small breakpoint and 1 imageon mobile,
- info section, four boxes with differnet content, 2 boxes on medium breakpoint and 1 on mobile
*/

/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/


@media screen and (max-width: 991px) {

    html {
        // This defines what 1rem is
         font-size: 58%; //1 rem = 10px; 10px/16px = 62.5%
     }

    .header {

        & .header-content {
            background-color: rgba(0,0,0,.8);
            top: 0;
            padding: 2rem;
            z-index: 5;
        }

        & .lbox-icon {
            height: 4rem;
        }

        & .carousel-control-next-icon, & .carousel-control-prev-icon, & .carousel-indicators {
            display: none;
        }

    }

    .main-nav {
        padding-right: 0rem;
        justify-content: flex-end;

        .mnav-button {
            position: relative;
            top: 3px;
            right: -5px;
            height: 3rem;

            &:focus, &:active {
                outline: none;
            }
        }

        & .mnav-item {
            padding: 1.5rem 0rem;
            &:not(:last-child) {
                padding-right: 0rem;
            }
        }

        & .mnav-link {
            color: $colorBrownFifth;
            font-size: 1.6rem;

            &:active {
                color: $colorWhiteFirst;
            }
        }

        & .navbar-mobile {
            margin-top: 2rem;
            text-align: right
        }
    }

    .features {
        padding: 7rem 0rem 2rem 0rem;

        & .feature-box {
            margin-bottom: 5rem;
        }
    }

    .mobile-device {

        & .mdevice-img {
            max-height: 500px;
        }
    }

    .stats-box {
        
       & .sbox-icon {
            height: 3.5rem;
       }

       & .sbox-num {
            font-size: 4.5rem;
       }

       .sbox-text {
            font-size: 1.3rem;
       }
    }

    .brands {
        padding-top: 10rem;

        & .brand-img {
            height: 13rem;
        }
    }

    .about-us {
        padding-top: 10rem;

        & .aus-container {
            margin: 4rem 0rem 0rem 0rem;
        }
    }
}

@media screen and (max-width: 767px) {

    .parag {
        font-size: 1.5rem;
    }

    .button.button-primary {
        padding: 1.1rem 2rem;
    }

    .heading-primary {
        padding: 0rem .5rem;

        & .small-text {
            font-size: 2.3rem;
        }

        & .big-text {
            font-size: 3.5rem;
        }
     }

    .heading-secondary {
        font-size: 2.5rem;
    }

    .features {
        padding: 5rem 0rem 0rem 0rem;

        & .parag {
            padding: 0rem 8rem;
        }
    }

    .ideas {
        padding: 5rem 3rem 0rem 3rem;

        & .heading-secondary {
            margin-bottom: 3rem;
        }

        & .parag {
            margin-bottom: 5rem;
        }
    }

    .projects {
        padding: 5rem 0rem 5rem 0rem;
    }

    .buy {

        .heading-secondary {
            margin-bottom: 1.5rem;
        }
    }

    .presentation-video {
        padding: 3rem 0rem;

        & .pvide-text {
           max-width: 80%;

            &.big {
                font-size: 3.5rem;
                line-height: 4rem;
            }

            &.small {
                font-size: 1.7rem;
            }
        }
    }
    
    .mobile-device {
        padding-top: 5rem;

        & .mdevice-content {
            display: flex;
            flex-direction: column-reverse;
        }

        & .mdevice-list {
            padding-left: 0rem;
        }

        & .mdevice-list-item {
            justify-content: center;
        }

        .mdevice-text-container {
            padding-left: 0rem;
        }

        & .mdevice-picture-container {
            justify-content: center;
            margin-top: 5rem;
        }
    }

    .posts {
        padding: 5rem 0rem 1em 0rem;

        & .image-text-box {
            margin-bottom: 4rem;
        }
    }

    .stats {
        padding: 6rem 0rem 1rem 0rem;
    }

    .stats-box {
        margin-bottom: 5rem;
    }

    .brands {
        padding: 5rem 0rem 0rem 0rem;

        & .brand-img {
            margin-bottom: 5rem;
        }
    }

    .about-us {
        padding: 6rem 0rem;
    }

    .footer {
        padding: 4rem 0rem 2rem 0rem;
        
       & .footer-row {
            text-align: center;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center !important;
       }
    }
}

@media screen and (max-width: 576px) {

    .buy {
        & .buy-left-cont {
            margin-bottom: 5rem;
            text-align: center;
        }

        & .parag {
            padding: 0rem 1rem;
        }

        & .buy-right-cont {
            justify-content: center;
        }
    }

    .mobile-device {

        & .mdevice-img {
            max-height: 450px;
        }
    }

    .image-text-box {

        & .itbox-date-num {
            font-size: 1.6rem;
        }

        & .itbox-date-text {
            font-size: 1.1rem;
        }

    }
}

@media screen and (max-width: 400px) {
    .stats-box {
        
        & .sbox-icon {
            height: 3.3rem;
        }

        & .sbox-num {
            font-size: 3.5rem;
        }

        & .sbox-text {
            font-size: 1.2rem;
        }
    }
}