.footer {
    padding: 5rem;
    background-color: $colorGreyFourth;

    & .footer-link {
        color: $colorGreySecond;
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 2rem;
        }
        
        &:hover {
            color: $colorBrownEight;
        }
    }

    i {
        font-size: 2rem;
    }
}