.header {
    background-image: url("../img/header-img.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & .header-content {
        display: flex;
        position: absolute;
        top: 15px;
        max-width: 1170px;
    }

    & .logo-box {
        margin-right: auto;
    }

    & .parag {
        margin-bottom: 5rem;
        text-align: center;
        color: $colorWhiteSecond;
    } 

    & .header-caro-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    // BOOTSTRAP CAROUSEL OVERRIDE

    & .carousel-control-prev-icon {
        background-image: url('../img/left-arrow.png');
        background-size: contain;
        height: 7rem;
        width: 4rem;
    }

    & .carousel-control-next-icon {
        background-image: url('../img/right-arrow.png');
        background-size: contain;
        height: 7rem;
        width: 4rem;
    }

    & .carousel-indicators {
        bottom: -30vh;
    }
}   