.main-nav {

    & .mnav-item {
        
        &:not(:last-child) {
            padding-right: 3rem;
        }
    }

    & .mnav-link {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $colorWhiteSecond;

        &:hover {
            text-decoration: none;
            color: $colorBrownFifth;
        }

        &:active {
            color: $colorBrownFifth;
        }
    }

    & .navbar-toggler-icon {
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 2.5rem;
    }

    & .navbar-toggler-line {
        height: 2px;
        background-color: $colorWhiteFirst;
    }
}