.button {
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 7rem;

    &.button-primary, &.is-active {
        padding: 1.1rem 2.5rem;
        background-color: $colorBrownFirst;
        color: $colorWhiteSecond;
        border: 1px solid $colorBrownFirst;
        transition: all .3s;

        &:hover {
            background-color: $colorWhiteFirst;
            border: 1px solid $colorWhiteFirst;
            color: $colorGreySecond;
        }
    }

    &.button-secondary {
        padding: 1.1rem 2.5rem;
        background-color: transparent;
        color: $colorGreyFirst;
        border: 1px solid $colorGreyFifth;
        transition: all .3s;

        &:hover {
            background-color: $colorBrownFirst;
            color: $colorWhiteSecond;
            border: 1px solid transparent;
        }
    }

    &.small {
        font-size: 1.2rem;
        padding: .8rem 1.2rem;
        text-transform: capitalize;
    }

    &:hover {
        text-decoration: none;
    }
}

.button-light {
    text-transform: capitalize;
    color: $colorBrownEight;
    font-size: 1.5rem;

    &.white {
        color: $colorWhiteFirst;
    }

    &::after {
        content: ' \003E';
        position: relative;
        left: 5px;
        top: 1px;
        font-weight: bold;
    }

    &:hover {
        text-decoration: none;
        color: $colorBrownFifth;
    }
}