.buy {
    padding: 5rem 0rem;
    background-image: linear-gradient(to right bottom, $colorBrownSixth, $colorBrownThird);

    & .buy-left-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & .buy-right-cont {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    & .heading-secondary {
        color: $colorWhiteSecond;
        margin-bottom: 0;

        & span {
            color:  $colorBrownFirst;
        }
    }
}