.features{

    padding: 7rem 0rem;

    & .feature-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & > * {
            transition: .3s;
        }

        &:hover {
            i, h3 {
                color: $colorBrownFirst;
            }
        }

        &:hover .line {
                background-color: $colorBrownFirst;
            }
    }

    & i {
        font-size: 3rem;
        color: $colorGreySecond;
        margin-bottom: 3rem;
    }

}

