.image-text-box {

    & .itbox-img-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    & .itbox-img-container:after {
        content: '\A';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background:rgba(0,0,0,0.5);
        opacity: 0;
        transition: all .5s;
        z-index: 1;
    }

    & .itbox-date-container {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 2;
    }

    & .itbox-date-num {
        padding: 2px 10px;
        background-color: $colorBrownSecond;
        color: $colorWhiteFirst;
        opacity: .9;
        font-size: 2rem;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        transition: all .5s;
    } 
    
    & .itbox-date-text {
        padding: 2px 10px;
        background-color: $colorBrownSixth;
        color: $colorWhiteFirst;
        opacity: .9;
        text-transform: capitalize;
        font-size: 1.3rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all .5s;
    }

    &:hover .itbox-date-num {
        background-color: $colorBrownFirst;
    }

    &:hover .itbox-date-text  {
        background-color: $colorBrownEight;
    }

    & .itbox-img {
        transition: all .5s;
    }

    & .itbox-content {
        padding: 2rem;
        background-color: $colorWhiteThird;
        transition: all .5s;
        text-align: left;
    }
    
    & .heading-fourth {
        margin-bottom: .5rem;
        transition: all .5s;

        &.dark {
            color: $colorGreySecond;
        }
    }   

    & .parag {
        color: #bcb4b4;
        text-transform: capitalize;
        transition: all .5s;

        &.dark {
            color: $colorGreyFirst;
            margin-bottom: 1rem;
        }
    }

    &:hover .itbox-content{
        background-color: $colorBrownSecond;
    }

    &:hover .heading-fourth{
        color: $colorWhiteFirst;
    }

    &:hover .paragraph{
        color: $colorBrownFirst;
    }

    &:hover .itbox-img-container:after {
        opacity: 1;
    }

    &:hover .itbox-img {
        transform: scale(1.05);
    }

}