.projects {
    padding: 8rem 0rem 5rem 0rem;
    max-width: 1170px;
    margin: 0 auto;

    & .button:not(:last-child) {
        margin-right: 1rem;
    }

    & .button {
        margin-bottom: 1rem;
    }

    & .button-container {
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}