.stats-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .sbox-icon {
        height: 4rem;
        width: auto;
        margin-bottom: 2rem;
    }

    & .sbox-num {
        font-size: 4.8rem;
        color: $colorWhiteFirst;
        font-weight: 300;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    & .sbox-text {
        color: $colorBrownFirst;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    & .line {
        height: 2px;
        width: 4rem;
    }
}