.about-us {
    background-color: $colorGreyThird;
    padding: 8rem 0rem;

    & .heading-fourth {
        color: $colorWhiteFirst;
    }

    & .aus-box:not(:last-child) {
        border-bottom: 1px solid #252525;
        margin-bottom: 1rem;
    }

    & .aus-box:hover .aus-date {
        color: $colorWhiteFirst;
    }

    & .aus-box:hover .aus-text {
        color: $colorBrownFifth;
    }

    & .aus-logo {
        margin-bottom: 3rem;
    }

    & .aus-date {
        color: #313131;
        font-size: 1.1rem;
        text-transform: capitalize;
        margin-bottom: 3px;
        transition: all .3s;
    }

    & .aus-text {
        color: $colorGreySecond;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        transition: all .3s;
    }

}