.presentation-video {
    height: 55vh;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:after {
        content: '\A';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background:rgba(0,0,0,0.9);
        opacity: .5;
    }

    & .pvideo-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    & .pvide-text {
        z-index: 2;
        color: $colorWhiteFirst;
        max-width: 60%;
        text-align: center;

        &.big {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        &.small {
            font-size: 2rem;
        }
    }


}