.heading-primary {
    letter-spacing: -1px;
    text-align: center;
    
    & > * {
        display: block;
    }

    .small-text {
        font-size: 2.6rem;
        color: $colorWhiteSecond;
        margin-bottom: .5rem;
    }

    .big-text {
        font-size: 4rem;
        color: $colorWhiteSecond;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.heading-secondary {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $colorGreySecond;
    text-transform: capitalize;
}

.heading-tertiary {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: $colorGreySecond;
    text-transform: capitalize;
}

.heading-fourth {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: $colorBrownFirst;
    text-transform: capitalize;
}

.parag {
    font-size: 1.4rem;
    color: $colorBrownFifth;
    line-height: 2.5rem;
   
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

/*
max-width: 469px;
text-align: center;
margin: 0 auto;

*/