.line {
    background-color: $colorWhiteFourth;
    height: 3px;
    width: 7rem;
}

.mtn-1 {
    margin-top: -1rem;
}

.mtn-2 {
    margin-top: -2rem;
}

.blue-text {
    color: $colorBluefirst;
}

