.ideas {
    background-color: $colorWhiteThird;
    padding: 7rem 7rem 0rem 7rem;
    text-align: center;
    position: relative;

    & img {
        width: 65%
    }

    & .ideas-left-img {
        position: absolute;
        left: -2%;
        bottom: 0px;
    }

    & .ideas-right-img {
        position: absolute;
        right: -2%;
        bottom: 0px;
    }
    
    & .ideas-center-img {
        position: relative;
        bottom: 0;
        z-index: 2;
    }
}

.mobile-device {
    background-color: $colorWhiteThird;
    padding-top: 8rem;

    & .mdevice-picture-container {
        display: flex;
        justify-content: flex-end;
    }

    & .mdevice-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 3rem;
    }

    .mdevice-list {
        padding: 1rem 0rem 1rem 5rem;
    }

    & .mdevice-list-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    & .mdevice-list-img {
        height: 2rem;
        margin-right: 3rem;
    }
}

.stats {
    background-image: linear-gradient(to right bottom, $colorBrownSixth, $colorBrownThird);
    padding: 6rem 0rem;
}

.posts {
    padding: 8rem 0rem;
    text-align: center;

}

.brands {
    background-image: url('../img/brands-backg.jpg');
    background-size: cover;
    padding: 13rem 0rem;

    & .brand-img {
        height: 17rem;
    }
}